<!-- <div class="message-box">
  <div class="toolbar">
    <button class="toolbar-button bold"><b>B</b></button>
    <button class="toolbar-button italic"><i>I</i></button>
    <button class="toolbar-button"><i class="fas fa-link"></i></button>
    <button class="toolbar-button"><i class="fas fa-code"></i></button>
    <button class="toolbar-button"><i class="fas fa-list-ul"></i></button>
    <button class="toolbar-button"><i class="fas fa-list-ol"></i></button>
    <button class="toolbar-button"><i class="fas fa-align-left"></i></button>
    <button class="toolbar-button"><i class="fas fa-align-center"></i></button>
  </div>
  <div >
    <input type="text">
    <img src="../assets/logo_images/bold.png" style="width: 15px; height: auto;">
  </div>
  <div class="footer">
    <button class="footer-button"><i class="fas fa-font"></i></button>
    <button class="footer-button"><i class="far fa-smile"></i></button>
    <button class="footer-button"><i class="fas fa-at"></i></button>
    <button class="footer-button"><i class="fas fa-paperclip"></i></button>
    <button class="footer-button"><i class="fas fa-microphone"></i></button>
    <button class="footer-button"><i class="fas fa-camera"></i></button>
    <button class="footer-button send"><i class="fas fa-paper-plane"></i></button>
  </div>
</div> -->
<!-- <div class="input-container">
  <input type="text" class="input-field">
  <img src="../assets/logo_images/bold.png" alt="Icon">
</div> -->
