<div class="container">
  <div class="input-container">
    <div class="icons">
      <img src="../assets/logo_images/bold.png" class="bold">
      <img src="../assets/logo_images/italic.png" class="italic">
      
      <span class="spane1">|</span>

      <img src="../assets/logo_images/numering.png" class="numering">
      <img src="../assets/logo_images/bullet.png" class="bullet">

      <span class="spane2">|</span>

      <img src="../assets/logo_images/align_left.png" class="align_left">
      <img src="../assets/logo_images/align_right.png" class="align_right">

      <input type="text" class="input_field" placeholder="Message">

      <img src="../assets/logo_images/aa_circle.png" class="aa_circle">
      <img src="../assets/logo_images/A.png" class="A">

      <span class="span3">|</span>

      <img src="../assets/logo_images/emoji.png" class="emoji">
      <img src="../assets/logo_images/@.png" class="a">

      <span class="span4">|</span>

      <img src="../assets/logo_images/camera.png" class="camera">
      <img src="../assets/logo_images/mic.png" class="mic">

      <img src="../assets/logo_images/send.png" class="send">
      
    </div>

  </div>

  <!-- <img src="../assets/logo_images/bold.png" class="bold">  -->
</div>