.dms{
    position: absolute;
    top: 26px;
    width: 30px;
    height: auto;
    background-color:none ;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dms:hover {
    transform: scale(1.1); /* Slightly enlarges the image */
    opacity: 0.8; /* Makes the image slightly transparent */
}

.dmssend{
    color: white;
    position:relative;
    top: 57px;
    left: -1px;
    font-size: 1em;
    cursor: pointer;
}