.lower_bar {
    position: absolute; /* Positions the header absolutely */
    display: flex;
    // justify-content: center;/* Centers content horizontally */
    // align-items: center;/* Centers content vertically */
    left: 76px; /* Positions the header next to the sidebar */
    width: 20%; /* Adjusts the header width to take the remaining space */
    height: 68vh;
    top: 166.5px;
    background-color: rgba(70, 18, 71); /* Header background color with transparency */
    // border-radius: 2px; /* Optional: Rounds the corners of the block */
    // border: 1px solid white; /* Adds a border around the text */
   
}