.lastside{
    position: absolute;
    top: 380px;
    left: 349px;
}

.upperside{
    position: absolute;
    top: 63px;
    left: 349px;

}

.moddelside{
    position: absolute;
    top: 108px;
    left: 349px;
}