.activities{
    position: absolute;
    width: 30px;
    height: auto;
    background-color:none ;
    transition: transform 0.3s ease, opacity 0.3s ease;

    cursor: pointer;
}

.activities:hover {
    transform: scale(1.1); /* Slightly enlarges the image */
    opacity: 0.8; /* Makes the image slightly transparent */
}

.activitiessend {
    position: absolute;
    top: 32px;
    left: -7px;
    color: white; /* Text color */
    font-size: 1em; /* Adjusts the font size */
    margin: 0; /* Removes default margin */
}